body{
    width: 99%;
    height: 100vh;

    background: url("../img/back.jpg") center
    no-repeat;
    -webkit-background-size: cover;
    background-size: cover;

}
.container{
    max-width:  95%;
    margin: 0 auto;
    background: rgb(11,0,189);
    background: linear-gradient(0deg, rgba(11,0,189,1) 0%, rgba(0,0,203,1) 16%, rgba(0,212,255,1) 100%);
}
.header{
    width: 100%;
    padding-top: 30px;
}
.header_inner{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header_logo{
    width: 75px;
}
.nav{
    font-size: 20px;
    text-transform: uppercase;
}
.nav_link{
    display: inline-block;
    vertical-align: top;
    margin: 0 15px;
    position: relative;

    color: #fff;
}
.section{
    width: 100%;
    height: max-content;
    padding-top: 20px;
}
.sec_container {
    max-width: 95%;
    height: max-content;
    margin: 0 auto;
    background: cornflowerblue;
}
.message{
    border: solid forestgreen;
}