body{
    background-image: url("../images/back.jpg");
    background-color: blue;
}

h1{
    display: flex;
}
.container{
    width: 100%;
    margin: 0 auto;
}
.nav
{
 display: flex;
    align-items: center;
}
.header{

}
img{
    width: 100%;
    align-content: center;
}
header a{
    color: black;
}
.menu{
    display: flex;
}
.menu li a{
    text-transform: uppercase;
    text-decoration: none;
    font-size: 14px;
    color: aliceblue;
}
.menu li{
    margin-right: 40px;
}