<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>Минсктранс</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/home.css}">
</head>
<body>
<header class="header">
    <div class="container">
        <div class="header_inner">

            <div>
                <img class="header_logo" th:src="@{/img/logo.jpg}" alt="альтернативный текст"/>
            </div>

            <nav class="nav">
                <a class="nav_link" href="https://minsktrans.by/">Минсктранс</a>
                <a class="nav_link" href="/index">Кабинет</a>
            </nav>

        </div>
    </div>
</header>

<section class="section">
    <div class="sec_container">
        Section

    </div>
</section>

<footer>

</footer>
</body>
</html>