<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Вход</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/loginCSS.css}">
</head>
<body>

<div th:if="${param.error}">
    Не правильный пароль или имя пользователя
</div>
<div th:if="${param.logout}">
    Вы вышли
</div>



<form class="form" th:action="@{/login}" method="post">
    <h1>Вход</h1>
    <div class="input-form">
        <input type="text" name="username"/>
    </div>
    <div class="input-form">
        <input  type="password" name="password"/>
    </div>
    <div class="input-form">
        <input type="submit" value="login"/>
    </div>
    <a href="/registration">Регистрация</a>
</form>


</body>
</html>