<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Регистрация </title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/regCSS.css}">
</head>
<body>
<p th:text="${message}"></p>

<form class="form" th:action="@{/main/registrationAdmin}" method="post">
    <h1>Регистрация Администратора</h1>

    <div class="input-form">
        <label> ФИО  <input type="text" name="username"/>
        </label></div>

    <div class="input-form">
        <label style="text-transform: none"> Пароль <input type="password" name="password"/>
        </label></div>

    <div class="input-form">
        <input type="submit" value="Зарегестрироваться"/></div>
</form>

<form action="/main">
    <div class="input-form">
        <input type="submit" value="Назад" />
    </div>
</form>

</body>
</html>